@import './pages/login/index.module.scss';
@import './pages/dashboard/index.module.scss';

body {
  background: #fbfbfb;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  overflow-x: hidden;
  overflow: auto;
  width: 100%;
  height: 100%;
}